<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <!-- Bu dosyayi kmto_driver_signing.props olarak kopyalayin veya Create-KmtoTestCertificate.ps1 calistirin. -->
  <PropertyGroup>
    <TestCertificate>BURAYA_SHA1_PARMAK_IZI</TestCertificate>
  </PropertyGroup>
</Project>
